/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

  
/* Body styles */
body {
    font-family: 'Crimson Pro', sans-serif;
    background-color: #fff; /* White background */
    color: #363636;
    font-weight: 400;
    font-size: 18px;
}


/* Header styles */
header {
    padding: 20px 10%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-family: PT Serif, 'Crimson Pro', sans-serif;
    font-size: large;
}


/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px; /* make left 10px when publications is added */ 
}

nav ul li a {
    text-decoration: none;
    color: #363636;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ee7123; /* Change color on hover */
}


/* Horizontal line styles */
.header-divider {
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: #007BFF; /* Change the color of the line */
    margin: 8px 10%; /* Add some margin to the top and bottom */
}


/* Main content styles */
.main {
    padding: 5px 10%; /* Space on top */
}

.content-container {
    max-width: 800px;
    margin: auto;
    padding-bottom: 20px;
}


/* Hyperlinks styles in Body */
a {
    text-decoration: none; /* This removes the underline */
    color: #007BFF;
    transition: color 0.3s;
}

a:hover {
    color: #ee7123; /* Optional: Change color on hover */
    font-weight: bold;
}

.greeting {
    font-family: monospace, 'Crimson Pro', serif;
    font-size: large;
}


/* Bio styles */
.bio-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 10px; /* Space below bio */
}

.bio-text {
    flex: 2; /* Takes 2/3 of the space */
    padding-right: 26px; /* Space between text and image */
    text-align: justify; /* Justify the text */
}

.bio-image {
    flex: 1; /* Takes 1/3 of the space */
    display: flex;
    flex-direction: column; /* Ensure the image and title are stacked */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

.bio-image img {
    margin-top: 0px;
    max-width: 100%;
    width: 200px; /* Fixed width for square image */
    height: 200px; /* Fixed height for square image */
    cursor: pointer; /* Make the image look clickable */
}

.image-title {
    margin-top: 5px;
    color: #363636; /* Optional: Adjust color to match your design */
    font-style: italic; /* Optional: Italic style */
    text-align: center; /* Center text below the image */
    width: 200%; /* Full width to ensure alignment works */
    font-family: Reenie Beanie, cursive;
    font-size: 19px;
    font-weight: 700;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* On top of everything */
    padding-top: 100px; /* Space at the top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 45%;
    border-radius:1000px; /* Add rounded corners */
}

#close-modal {
    position: absolute;
    top: 25px;
    right: 100px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#close-modal:hover {
    color: #ccc;
}


/* Social links styles */
.social-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    margin-top: 50px; /* Space above the social links */
}

.links {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox to display links in a row */
    font-size: 16px; /* Set the font size */
    color: #363636; /* Text color */
    font-weight: 400; 
    font-size: larger;
}

.links a {
    text-decoration: none; /* No underline */
    color: #007BFF; /* Inherit color from parent */
    margin: 0 8px; /* Space between links */
    transition: color 0.3s;
}

.links a:hover {
    color: #ee7123; /* Change to a hover color of your choice */
    font-weight: bold;
}


/* Experience and projects Section */
.experience-container {
    padding-bottom: 20px;
}

.work-container, .thesis-container, .project-container {
    display: flex;
    margin-bottom: 5px; /* Space between each experience */
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Light bottom border between sections */
}

.work-image, .thesis-image, .project-image {
    flex: 1;
    max-width: 130px;
    max-height: 130px;
    margin-right: 20px;
    margin-top: 8px;
}

.thesis-image {
    padding-top: 5px;
    max-height: 150px;
}

.nitt-logo {
    padding-top: 25px;
}


.work-content, .thesis-content, .project-content {
    flex: 3;
}

.work-content p, .thesis-content p, .project-content p {
    margin: 5px 0;
    text-align: justify;
}

.experience-sections-header {
    /* padding-top: 20px; */
    padding-bottom: 5px;
    font-family: monospace, 'Crimson Pro', serif;
    font-size: large;
}


/* Blogs Section styles */
.description {
    margin-bottom: 20px;
    text-align: justify;
}

/* Articles Header */
.articles-header {
    font-size: large;
    font-family: monospace, 'Crimson Pro', serif;
    color: #363636;
    margin-bottom: 25px; /* Space below header */
}

/* Articles List Styles */
.articles-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between articles */
}

.article-item {
    display: flex;
    padding: 20px;
    background-color: #f5f5f5; /* Light grey background for articles */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
    transition: transform 0.3s ease-in-out;
}

.article-item:hover {
    transform: translateY(-5px); /* Lift on hover */
}

.article-image {
    flex: 1;
    max-width: 150px;
    margin-right: 20px;
}

.article-image img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Rounded corners for image */
    object-fit: cover; /* Ensure image fits nicely */
}

.article-content {
    flex: 3;
}

.article-content h3 {
    font-size: 20px;
    color: #007BFF;
    margin-bottom: 10px;
}

.article-content .publish-time {
    font-size: 14px;
    color: #777; /* Lighter color for publish time */
    margin-bottom: 10px;
}

.article-content p {
    font-size: 16px;
    color: #363636;
    margin-bottom: 15px;
    text-align: justify;
}

.article-content a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.article-content a:hover {
    color: #ee7123; /* Hover color */
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Increased margin to create space */
    /* margin-bottom: 10px;  */
    /* Additional space below pagination */
}

.pagination a {
    color: #007BFF;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Blogs Section - Articles style */

/* Container for the blog post */
.blog-post {
    max-width: 800px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    line-height: 1.2;
    text-align: justify;
}

/* Title styling */
.blog-post h1 {
    font-size: 2rem;
    color: #4a90e2;
    font-weight: 700;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Publish time styling */
.publish-time {
    font-size: 0.9rem;
    color: #666666;
    /* text-align: center; */
    margin-bottom: 1.5rem;
    font-style: italic;
}

/* Subheading styling */
.blog-post h2 {
    /* font-size: 1.75rem; */
    font-size: large;
    font-family: monospace, 'Crimson Pro', serif;
    color: #333333;
    margin-top: 2rem;
    border-bottom: 2px solid #333333;
    padding-bottom: 0.5rem;
}

/* Section headers */
.blog-post h3 {
    /* font-size: 1.5rem; */
    font-size: large;
    font-family: monospace, 'Crimson Pro', serif;
    color: #333333;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* Ordered list styling */
.blog-post ol {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
}

.blog-post ol li {
    margin-bottom: 0.8rem;
}

/* Unordered list styling */
.blog-post ul {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
}

.blog-post ul li {
    margin-bottom: 0.8rem;
}

/* Tips and Tricks sublist styling */
.blog-post ol li ul {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

.blog-post ol li ul li {
    margin-bottom: 0.5rem;
}

/* Paragraph styling */
.blog-post p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    /* padding-top: 1rem; */
}

/* Blockquote styling for tips or highlights */
.blog-post blockquote {
    border-left: 4px solid #4a90e2;
    padding-left: 1rem;
    margin: 1.5rem 1rem;
    color: #555;
    font-style: italic;
}


/* Responsive Design */
@media (max-width: 768px) {
    .blogs-container {
        padding: 10px 5%; /* Adjust padding for smaller screens */
    }

    .article-item {
        flex-direction: column; /* Stack image and text on smaller screens */
    }

    .article-image {
        max-width: 100%;
        margin-bottom: 15px; /* Space between image and content */
    }
}


/* Footer styles */
.footer-relative {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    position: relative;
    bottom: 10px;
    top: 20px;
}

.footer-absolute {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}